.container {
    text-align: left;
    color: white;
    padding: 1rem 1.5rem;

    h3 {
        padding-bottom: 1rem;
    }

    a {
        color: var(--blue-shade);
        font-size: 0.8rem;
    }
}