.container {
    margin-top: 1rem;
    background-color: var(--dark-grey-shade);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    text-align: left;

    h3 {
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    a {
        font-size: 0.8rem;
        color: var(--blue-shade);
    }
}