.container {
    display: flex;
    align-items: center;
    width: 100%;
   
    img {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        border: none;
        margin-right: 0.8rem;
    }

    .profileDetails {
        width: 100%;
        font-size: 0.85rem;
        text-align: left;

        .name {
            font-weight: bold;
        }

        .userName{
            color: var(--grey-shade);
        }

        p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}