.leftPanel {
    width: 28rem;
    color: white;
    padding-right: 1.2rem;
    padding-left: 1rem;
    border-right: 2px solid grey;
    display: flex;
    flex-direction: column;

    & .twitterIcon {
        font-size: 1.5rem;
        width: 100%;
        display: inline-block;
        text-align: left;
        padding-top: 0.5rem;
    }

    & button {
        background-color: var(--blue-shade);
        color: white;
        width: 100%;
        height: 2.8rem;
        border-radius: 2rem;
        border: none;
    }
}